/* Estrutura geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #1e407c;
    color: white;
    padding: 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Hero section */
  .hero {
    text-align: center;
    background-color: #eef5ff;
    padding: 50px 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #1e407c;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .hero button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero button:hover {
    background-color: #ff5733;
  }
  
  /* Destaques de categorias */
  .categories {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
  }
  
  .category {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: box-shadow 0.3s;
  }
  
  .category:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  .category img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .category h3 {
    color: #1e407c;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .category p {
    font-size: 0.9rem;
    color: #666;
  }
  
 