/* Estilo geral */
.home {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 1em 2em;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eef3f9;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero_content {
  max-width: 50%;
}

.hero_content h1 {
  font-size: 2.5rem;
  color: #16479d;
  margin-bottom: 1rem;
}

.hero_content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.hero_image img {
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Categorias */
.categories {
  margin-top: 2em;
}

.categories h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #16479d;
}

/* Estilo de cada categoria */
.category {
  margin-bottom: 2em;
}

.category h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1em;
}

/* Grade de livros */
.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.book_card {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 240px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book_card img {
  max-width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8em;
}

.book_card h4 {
  font-size: 1.2rem;
  color: #16479d;
  margin-bottom: 0.5em;
}

.book_card p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
}

.book_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.details_btn {
  text-decoration: none;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details_btn:hover {
  background-color: #007bff;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}