/* Geral */
.book_details_page {
  padding: 2em;
  background-color: #fafafa;
}

/* Contêiner */
.book_details_container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.bookdetails_header h1 {
  font-size: 2.5rem;
  color: #1e407c;
  margin-bottom: 0.5em;
}

.bookdetails_header p {
  font-size: 1.2rem;
  color: #555;
}

/* Informações do livro */
.book_info_section {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;
}

.book_images img {
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book_images img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Meta informações */
.book_meta p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.8em;
}

.book_meta .bold {
  font-weight: bold;
  color: #1e407c;
}

/* Descrição */
.book_description h2 {
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: #1e407c;
}

.book_description p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

/* Botão */
.book_details_container button {
  border-radius: 50px;
  background-color: #1e407c;
  color: #fff;
  border: none;
  padding: 1em 2em;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.book_details_container button:hover {
  background-color: #142c5a;
  transform: translateY(-5px);
}

.book_details_container button:active {
  transform: translateY(0);
}
