/* Container principal */
.container {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
  }
  
  /* Título principal */
  .header {
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
    color: #333;
  }
  
  /* Título de cada gênero */
  .genreHeader {
    font-size: 1.8rem;
    font-weight: bold; 
    color: #333; 
    padding: 10px 20px; 
    background-color: #f0f4f8; 
    border-left: 5px solid #007bff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 30px 0; 
    border-radius: 8px; 
    text-align: left; 
  }
  
  .genreHeader:hover {
    background-color: #e1eff9; 
    border-color: #0056b3; 
    transition: all 0.3s ease; 
  }
  
  /* Container para os livros de cada gênero */
  .booksContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  
  /* Card do livro */
  .bookCard {
    background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 240px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bookCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagem do livro dentro do card */
  .bookThumbnail {
    max-width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8em;
  }
  
  /* Título do livro */
  .bookTitle {
    font-size: 1.2rem;
    color: #16479d;
    margin-bottom: 0.5em;
  }
  
  /* Descrição do livro */
  .bookDescription {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
  }
  
  /* Autor do livro */
  .bookAuthors {
    font-size: 0.8rem;
    color: #888;
    margin: 0 10px 15px;
    text-align: center;
  }
  
  /* Loader */
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #333;
  }
  