.page_container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table th,
.table td {
  text-align: left;
  padding: 12px 16px;
  border: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

p {
  text-align: center;
  color: #555;
  margin-top: 20px;
}

  
  /* Status */
  .status {
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
  
  .pending {
    color: #f5b70d;
    background-color: #fff7e6;
  }
  
  .accepted {
    color: #25b456;
    background-color: #e6f7ec;
  }
  
  .completed {
    color: #16479d;
    background-color: #e6ecf7;
  }
  
  .inprogress {
    color: #6a5701;
    background-color: #fff9e6;
  }

  /* Estilos para os botões de aceitação e rejeição com ícones */
.acceptButton,
.rejectButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
}

.acceptButton {
  background-color: #4CAF50;
}

.acceptButton:hover {
  background-color: #45a049;
}

.rejectButton {
  background-color: #f44336;
}

.rejectButton:hover {
  background-color: #d32f2f;
}

.acceptButton i,
.rejectButton i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}